<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
    <div id="hAlign" class="display_nonauth">
      <div id="vAlign">
          <div id="signUp">
              <div id="card"><img src="/i/slit.png"></div>

              <h1 class="white headline-main">Connect with Mozilla Persona, the safest &amp; easiest way to sign in.</h1>
              <p class="tour white">
                <a href="/about" class="button create">Take the tour</a>
              </p>
          </div>
      </div>
    </div>
